a{
  cursor:pointer
}
a:link{
  text-decoration:none
}
a:visited{
  text-decoration:none
}
a:hover{
  text-decoration:none;
}
a:active{
  text-decoration:none;
}

.section{
  padding:10px 0;
  margin-bottom:30px;
  min-height:200px
}

.section:nth-child(2n){
  padding:40px 0 20px;
  background:#f7f7f7
}

.wrapper{
  width:950px;
  margin:0 auto
}

.posts li{
  margin-bottom: 4px;
}

.post-index{
  position: fixed;
  top:10px;
  right:10px;
  float:right;
  display:inline-block;
}

.post-index li{
    list-style-type:none;
}

#footer {
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ddd;
}

.container .text-muted {
  margin: 20px 0;
}