
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, tt, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: medium none;
    color: #111111;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

body{
  color:#111111;
  font-family: Georgia,serif;
  font-size:84.5%;
  letter-spacing: -0.01em;
  line-height: 1.8em;
  padding: 0;
  word-spacing: 0.2em;
}

a{
  cursor:pointer;
  color:#37a;
}

.section{
  padding:10px 0;
  margin-bottom:30px;
  min-height:200px
}

.section:nth-child(2n){
  padding:40px 0 20px;
  background:#f7f7f7
}

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}

.grid-12-8{
  width:67%;
  display: inline-block;
}

.welcome{
       float:right;
       width:24%;
       padding:0.6em;
       margin-right:3%;
       margin-bottom:1em;
       min-width:180px;
       max-width:300px;
       background-color:#DEEBF7;
       overflow:hidden;
       -moz-border-radius: 20px;
-webkit-border-radius: 20px;
       border-radius: 20px;
}

.posts li{
  margin-bottom: 4px;
}

.post-index{
  position: fixed;
  top:10px;
  right:10px;
  float:right;
  display:inline-block;
}

#footer {
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ddd;
}

.container .text-muted {
  margin: 20px 0;
}